---
import { Image } from "astro:assets";
import clarkAndAmy from "../images/clark-and-amy.jpg";
---

<html lang="en">
  <head>
    <title>Clark & Amy Bonner</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content="Clark and Amy" />
    <meta
      property="description"
      content="Links to help communicating with Clark and Amy"
    />
    <meta
      name="description"
      content="Links to help communicating with Clark and Amy"
    />
    <meta
      property="og:description"
      content="Links to help communicating with Clark and Amy"
    />
    <meta property="og:image" content="https://www.clarkamy.com/og-image.jpg" />
    <meta property="og:url" content="https://www.clarkamy.com/" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>

  <body>
    <div class="mx-auto py-8 lg:py-12 prose lg:prose-xl px-8">
      <h1>Clark & Amy Bonner</h1>
      <div class="px-4 py-1 bg-gray-100 rounded-lg">
        <p>They are home now, so this page is no longer updated.</p>
      </div>
      <div>
        <p>
          Mission Log:
          <a
            class="break-words"
            href="https://docs.google.com/document/d/10X19a9IjvCsnFy9CtQWnAhYNUnW4Jxp8b1YerXH9NTc/edit?usp=sharing"
          >
            Google Doc
          </a>
        </p>
      </div>
      <div>
        <Image
          alt="A portrait taken of Clark and Amy"
          class="rounded-xl"
          loading="eager"
          src={clarkAndAmy}
        />
      </div>
    </div>
  </body>
</html>
