---
import { Image, Picture } from "@astrojs/image/components";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Clark & Amy Bonner</title>
  </head>

  <body>
    <script>
      function calculateSydneyTime() {
        const sydneyTime = document.querySelector("#sydneyTime");
        if (sydneyTime) {
          sydneyTime.innerHTML = new Date().toLocaleString("en-US", {
            timeZone: "Australia/Sydney",
          });
        }
      }

      calculateSydneyTime();

      setInterval(() => {
        calculateSydneyTime();
      }, 1000);

      const phoneNumber = document.querySelector("#phoneNumber");
      if (phoneNumber) {
        const decodedPhoneNumber = "427 586 614 16+"
          .split("")
          .reverse()
          .join("");
        phoneNumber.innerHTML = decodedPhoneNumber;
      }
    </script>

    <div class="mx-auto py-8 lg:py-12 prose lg:prose-xl px-8">
      <h1>Clark & Amy Bonner</h1>
      <div>
        The time in Sydney Austrailia right now is:<br />
        <span class="font-semibold text-gray-900" id="sydneyTime"></span>
      </div>
      <div>
        <p>
          Phone:<br />
          <span id="phoneNumber" class="font-semibold text-gray-900"></span>
        </p>
      </div>
      <div>
        <p>
          Shipping Address:<br />
          <a class="break-words" href="https://goo.gl/maps/1BDQPuBnsb9DouC3A">
            1/12 Table Street. Port Macquarie NSW Australia. 2444
          </a>
        </p>
      </div>
      <div>
        <p>
          Mission Log:<br />
          <a
            class="break-words"
            href="https://docs.google.com/document/d/10X19a9IjvCsnFy9CtQWnAhYNUnW4Jxp8b1YerXH9NTc/edit?usp=sharing"
          >
            Google Doc
          </a>
        </p>
      </div>
      <div>
        <Picture
          formats={["avif", "webp", "jpeg"]}
          widths={[400, 750]}
          aspectRatio="50:75"
          alt="Clark and Amy"
          format="avif"
          src="/clark-and-amy.jpg"
          width={500}
          height={750}
        />
      </div>
    </div>
  </body>
</html>
